:root {
    /* declaring font sizes */
    --font-size-base: 1rem; /* 16px*/
    --font-size-paragraph: 0.875rem; /* 14px */
    --font-size-title: 1.25rem; /* 20px */
    --ten-pixels: 0.625rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* CSS Reset */

html {
    font-size: 100%;
} 

body {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    background-color: hsl(0, 0%, 8%);
}

.main-container {

    width: 400px;
    height: fit-content;
    
    margin: 6.25rem auto ;
    padding: 2rem 0;
    border-radius: 2rem;

    color: white;
    background-color: hsl(0, 0%, 12%);
    
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.profile-avatar {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 1.25rem;
    border-radius: 50%;
}

.main-container h1 {
    font-size: var(--font-size-title);
}

.main-container p {
    margin: var(--ten-pixels) 0;
    font-size: var(--font-size-paragraph);
}

.green-text {
    color: hsl(75, 94%, 57%);
}

.about-phrase {
    margin-top: var(--ten-pixels);
}

.main-header, .socials-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials-list {
    list-style: none;
}

.socials-list li {
    display: flex;
    flex-direction: column;

    width: 80%;
}

.social-button {
    margin: var(--ten-pixels) 0;
    padding: 1rem 4rem;

    color: white;
    background-color: hsl(0, 0%, 20%);

    border-color: hsl(0, 0%, 20%);
    border-radius: 10px;

    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.social-button:hover {
   background-color: hsl(75, 94%, 57%);
   color: black;
}

.attribution { 
    color: white;
    font-size: 11px; text-align: center; 
}


.attribution a {
     color: white; 
}

.attribution a:hover {
     color: cyan; 
}


@media screen and (max-width: 600px) {
    .main-container {
        width: 350px;
    }
}





